<section class="touslesfilms">
    <section class="vaguesback">
        <img class="position_vague vague_toutlesfilmshaut" src="/assets/images/Arriere-plan/Vaguounette haut.svg" alt="vague dessin jaune">
        <img class="position_vague vague_toutlesfilmsbas" src="/assets/images/Arriere-plan/vagounette bas.svg" alt="vague dessin jaune">
        <h2 class="tous_les_films_titre_boite">
            Tous les films
        </h2>
       
        <section class="tous_les_films_text">
            <p>Retrouvez nos plus gros succès, les films à l’affiche, ainsi que les prochaines sorties</p>
        </section>
        <section class="tous_les_films_buttons">
            {% include button.html text="Programme du mois"%}
            {% include button.html text="Liste des films"%}
        </section>
    
        <section class="slideshow">
            {% include /Homepage/slideshow.html %}
        </section>
        <img class= "petale_explosion" src= "/assets/images/Petales/Page 1/petale4page1.svg" alt= "explosion logo">
    </section>
</section>