// Texte 

.h2_cover {
    font-family: $typo-titre ;
    font-size: 39px;
    font-style: Bold;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: $dark-blue;
    margin-top: 30px;
    margin-bottom: 5px;

}


.h3_cover {
    font-family: $typo-titre ;
    font-size: 90px;
    height: 90px;
    color: $dark-blue;
}

p {
    font-family: 'Open Sans' ;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: $dark-blue;
    margin: 0;

}

a{
    font-family: 'Open Sans' ;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: $dark-blue;
    margin: 0;
}


.film {
    text-decoration: underline;
    font-weight:bolder;
}

// Structure

.rectangle{
display: flex;
flex-direction: row;
height: 601px;
margin-right: 3%;
margin-left: 3%;
margin-top: 120px;
margin-bottom: 0%;
background: #F6D8D4;
    @media screen and (max-width:768px) {
        flex-direction: column-reverse;
        margin:0;
        background:none;
        margin-bottom: 100%;
        margin-top: -20%;
    
    }

}

.text{

    width: 50%;
    padding: 49px 85px 0px 108px; 
    @media screen and (max-width:768px) {
        width:100%;
        padding:3%;
        z-index:30;
        background: #F6D8D4;
        position:absolute;
        bottom:-60%;
        left:0%;
    
    }
    
}

.title-movie{
    display: flex;
    margin: 0px;
    margin-bottom: 8px;
    height: 90px;
}
.structure-text{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

// Images

.image-encanto {
    width: 50%;
    object-fit: cover;
    height: 100%;
    object-position: left;
    @media screen and (max-width:768px) {
        width:100%;
        object-position: center;
        margin-top: 5%;
        margin-bottom: -60%;
    }
        
}

.petale-cover{
    left: 40%;
    bottom: 5%;
    min-width:  50px;
    transform: rotate(-30deg);

}



// Bouton

.button-cover {
    justify-self: center;
    display: table;
    margin-top: 50px;
    margin-left: 15%;
    @media screen and (max-width:768px) {
      margin-left: 20%;
      margin-top: 45px;
    }
}


