
.parent-fil{
   
}
.style-lizere{
    background-repeat: no-repeat;
    width: 903px;
    height: 3090px;
    z-index: -1 ;
    position: absolute;
    margin-left: 20%;
    margin-top: 0px;
}

.bandeau {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 12%;
    @media screen and (max-width:768px) {
        transform: scale(0.5);
    }
}

.titre {
    padding-right:200px;
}

.rectangle_debut_jaune {
    position: relative;
    display: table;
    text-align: right;
    margin-top: 246px;
        &::before {
        content: "";
        display: block;
        background-color: #F5E5A3;
        position: absolute;
        bottom: -30px;
        height: 62px;
        width: 107%;
        left: 30%;
        z-index: -1;
        }
}


.films_gauche {
    display:flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-bottom: 20%;
    @media screen and (max-width:768px) {
        flex-direction: column ;
        width:100%;
        justify-content:center;
        align-items:center;
        margin: 0 0 30% 0;

    }
}



.films_droite {
    align-items: flex-end;
    display:flex;
    justify-content:flex-end;
    margin-right: 10%;
    margin-bottom: 20%;
    @media screen and (max-width:768px) {
        flex-direction: column ;
        width:100%;
        justify-content:center;
        align-items:center;
        margin: 0 0 30% 0;

    }
}

.box_jaune {
    width:500px;    
    position:relative;
    font-family:Open sans;
    border-radius:30px;
    padding:5%;
    background-color: #F5E5A3;
    padding-bottom:10%;
    margin-right : 5%;
    margin-top : 2%;
    box-shadow: 20px 20px rgba(245, 229, 163, 0.5);
    @media screen and (max-width:768px) {
        width:100%;
    }


}

.box_jaune_droite {
    width:500px;    
    position:relative;
    font-family:Open sans;
    border-radius:30px;
    padding:5%;
    background-color: #F5E5A3;
    padding-bottom:10%;
    margin-right : 5%;
    margin-top : 2%;
    box-shadow: -20px 20px rgba(245, 229, 163, 0.5);

}

.description_films {
    margin: 0 2%;
}

.titre_prochaine_seance {
    font-weight:bold;
    opacity: 50%;
    font-size:20px;
}

.titres_infos {
    margin-top:15px;
    font-weight:bold;
    opacity: 50%;
    font-size:16px;
}
.date_prochaine_seance {
    font-size: 18px;
    font-weight: 600;
}
p{
    margin:0;
    padding: 0;
}

.buttons {
    display:table;
    position: absolute;
}

#button_left {
    transform:rotate(-9deg);
    bottom:-10%;
    right:-10%;
    @media screen and (max-width:768px) {
        transform:rotate(0deg);
        left: 10%;
    }
}

#button_right {
    transform:rotate(9deg);
    bottom:-10%;
    left:-10%;
    @media screen and (max-width:768px) {
        transform:rotate(0deg);
        left: 10%;
    }
}

.affiches_films {
    width:320px;
    height:450px;
}

.h3_RonDebloque {
    display: flex;
    justify-content:space-between ;
    max-width: 380px;
}

.h3_ShangChi {
    display: flex;
    justify-content:space-between ;
    max-width: 300px;
    margin-left: 40%;
}

.h3_Venom {
    display: flex;
    justify-content:space-between ;
    max-width: 215px;
}