.vaguesback{
    
    height: 601px;
    width: 100%;
    background: $jaune;
    padding-top: 50px;
    }

    // display: flex;
    // flex-direction: row;

    .vague_toutlesfilms{
        top: 3755px;
        left:10%;
    }