.vaguesback{
    position: relative;
    height: 601px;
    width: 100%;
    background: $jaune;
    padding-top: 50px;
    }

    // display: flex;
    // flex-direction: row;

    .vague_toutlesfilms{
        top: -120px;
        left: 10%;
    }