---
title: Cinéma Le Festival - Shang-Chi - Infos
---

<section class="shang-chi">
    {% include /Page2/cover_shangchi.html %}
</section>

<section class= "synopsispage2">
    {% include /Page2/synopsis_shangchi.html %}
</section>

<section class="page2avisdirecteur">
    {% include /Page2/page2seances.html %}
</section>

<section class="page2avisdirecteur">
    {% include /Page2/page2avisdirecteur.html %}
</section>

<section class="cover-page2">
    {% include /Page2/page2suggestion.html %}
</section>

