---
title: Cinéma Le festival, le cinéma 100% animation et effets spéciaux 
---



<section class= "cover">
    {% include /Homepage/cover.html %}
</section>

<section class="films_a_l_affiche">
    {% include /Homepage/filmalaffiche.html %}
</section>


<section class="touslesfilms" style="width:100%;">
    {% include /Homepage/touslesfilms.html %}    
</section>


<section class="evenements">
    {% include /Homepage/evenements.html %}    
</section>

<section class="info_covid">
    {% include /Homepage/infocovid.html %}    
</section>

<section class="infospratiques">
    {% include /Homepage/infospratiques.html %}    
</section>


    






