---
title: Bienvenue sur la page d'accueil
---



<section class="cover">
    {% include cover.html %}
</section>

<section class="films_a_l_affiche">
    {% include filmalaffiche.html %}
</section>


<section class="info_covid">
    {% include slideshow.html %}    
</section>

<section class="tous_les_films">
    {% include touslesfilms.html %}
</section>

<section class="evenements">
    {% include evenements.html %}    
</section>

<section class="info_covid">
    {% include infocovid.html %}    
</section>

<section class="infospratiques">
    {% include infospratiques.html %}    
</section>


    






