---
title: Bienvenue sur la page d'accueil
---



<section class="cover">
    {% include /Homepage/cover.html %}
</section>

<section class="films_a_l_affiche">
    {% include /Homepage/filmalaffiche.html %}
</section>


<section class="slideshow">
    {% include /Homepage/slideshow.html %}    
</section>


<section class="evenements">
    {% include /Homepage/evenements.html %}    
</section>

<section class="info_covid">
    {% include /Homepage/infocovid.html %}    
</section>

<section class="infospratiques">
    {% include /Homepage/infospratiques.html %}    
</section>


    






