.position_vague{
    position: absolute;
    top: -85px;
    margin-left: -10%;
}

.synopsis {
    background-color: #E38578;
    padding : 10%;  
    padding-top : 5%;
    padding-bottom : 12%;
    position: relative;
}

.titre_synopsis {
    position: relative;
    margin-left : 2%; 
    margin-bottom: -1%;
    position : relative;
    padding-top: 0px;
}

.resume_synopsis {
    color : #FFFF;
    margin-top : 7%;
    margin-left : 2%;
}

.rectangle_blanc {
    width : 570px;
    height : 62px;
    background-color: #FFFF;
    margin-top : -15%;
    margin-left : -14%;
}

.petale_synopsis {
    position : absolute;
    margin-left : 60%;
    margin-top : 5%;
}