<section class= "shang-chi">
    <div class="h1_section">
        <p>Accueil</p>
        <p>></p>
        <h1 class= "h1_page2">Fiche du film</h1>
    </div>


    <iframe class="bande_annonce" src="https://www.youtube.com/embed/PD3rUCBFDlI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <section class= "shang_chi_fiche">
        <div class="affiche_petale">
        <img src="/assets/images/Affiche/ShangShi.jpg" class= "affiche_page2" alt= "affiche Shang-Chi">
        <img src= "/assets/images/Petales/Page 2/petale1.page2.svg" class= "petale_shangchi" alt= "pétales du logo">
        </div>
        <div class= "description_film">
            <h2 class= "titre_film"> Shang-Chi</h2>
            <div class= "box_jaune_page2">
                 <p class= "p_description"><b>SORTIE LE : </b> 1er septembre 2021</p>
                 <p class= "p_description"><b>DURÉE: </b>1h37</p>
                 <p class= "p_description"><b>RÉALISÉ PAR : </b>Destin Daniel Cretton</p>
                 <p class= "p_description"><b>AVEC : </b>Simu Liu, Tony Leung Chiu-Wai, Awkwafina</p>
                 <p class= "p_description"><b>GENRE : </b>Action - Fantastique</p>
            </div>
         </div>
    </section> 
    


</section>
   
