<section class="page2seances.html">
    {% include h2rectangle.html text="Séances wesh" %}
</section>

<div class="container">
    <div class="row">
        <div class="offset-2 col-md-2">
            <p>Mercredi</p>
            <p>17</p>
        </div>
        <div class="col-md-2">
            <p>Jeudi</p>
            <p>17</p>
        </div>
        <div class="col-md-2">
            <p>Vendredi</p>
            <p>17</p>
        </div>
        <div class="col-md-2">
            <p>Samedi</p>
            <p>17</p>
        </div>
        <div class="col-md-2">
            <p>dimanche</p>
            <p>17</p>
        </div>
    </div>






    <div class="row">
        <div class="offset-3 col-md-1">
            {% include button.html text="18h" %}
            {% include button.html text="20h" %}
        </div>
        <div class="offset-1 col-md-1">
            {% include button.html text="18h" %}
            {% include button.html text="20h" %}
        </div>
        
        <div class="offset-1 col-md-1">
            {% include button.html text="18h" %}
            {% include button.html text="20h" %}
        </div>
        <div class="offset-1 col-md-1">
            {% include button.html text="18h" %}
            {% include button.html text="20h" %}
        </div>
        <div class="offset-1 col-md-1">
            {% include button.html text="18h" %}
            {% include button.html text="20h" %}
            
        </div>
    </div>
</div>
