<section class=page2avisdirecteur.html>

<div class="logo_et_rectangle">
    <div class="avis_rectangle_jaune">
        <h2 class="sub-bg"> Avis du directeur  </h2>
        <div class="logo_petale">
            <img src="/assets/images/Petales/Page 2/petale4page2.svg" alt="logo petale">
        </div>
    </div>

 
</div>

<div class="avis_du_directeur"> 
    
            <p>  Ce film est excellent, il nous montre des visuels incroyables et l'histoire est <br>
                originale. Le film change de ce que l'on peut voir dans les recettes Marvel <br>
                classiques, mais ce n'est que du positif. Je vous recommande vivement ce film qui peut <br> 
                être assez surprenant ! Cela fait longtemps que je n'avais pas vu d'aussi belles images au <br>
                cinéma d'ailleurs !
            </p>    
</div>

</section>