<div class="bandeau">
    <div class="titre">
    <h2 class="rectangle_debut_jaune index_seance">Séances</h2>
    </div>
</div>

<div class="container ">

    <div class="row seances_jours">
        <div class="offset-2 col-md-2">
            <p>Mercredi</p>
            <p class="seances_jours_chiffres">17</p>
        </div>
        <div class="col-md-2">
            <p>Jeudi</p>
            <p class="seances_jours_chiffres">18</p>
        </div>
        <div class="col-md-2">
            <p>Vendredi</p>
            <p class="seances_jours_chiffres">19</p>
        </div>
        <div class="col-md-2">
            <p>Samedi</p>
            <p class="seances_jours_chiffres">20</p>
        </div>
        <div class="col-md-2">
            <p>dimanche</p>
            <p class="seances_jours_chiffres">21</p>
        </div>
    </div>






    <div class="row seances_horaires">
        <div class="offset-3 col-md-1">
            <section class="seances_horaires_buttons">
                <div>{% include button.html text="18h" %}</div>
                <div>{% include button.html text="20h" %}</div>
            </section>
        </div>
        <div class="col-md-1 ">
            <div class="seances_horaires_colonne"></div>
        </div>
        <div class="col-md-1">
            <section class="seances_horaires_buttons">
                <div>{% include button.html text="18h" %}</div>
                <div>{% include button.html text="20h" %}</div>
            </section>
        </div>
        <div class="col-md-1 ">
            <div class="seances_horaires_colonne"></div>
        </div>
        <div class="col-md-1">
            <section class="seances_horaires_buttons">
                <div>{% include button.html text="18h" %}</div>
                <div>{% include button.html text="20h" %}</div>
            </section>
        </div>
        <div class="col-md-1 ">
            <div class="seances_horaires_colonne"></div>
        </div>
        <div class="col-md-1">
            <section class="seances_horaires_buttons">
                <div>{% include button.html text="18h" %}</div>
                <div>{% include button.html text="20h" %}</div>
            </section>
        </div>
        <div class="col-md-1 ">
            <div class="seances_horaires_colonne"></div>
        </div>
        <div class="col-md-1">
            <section class="seances_horaires_buttons">
                <div>{% include button.html text="18h" %}</div>
                <div>{% include button.html text="20h" %}</div>
            </section>
        </div>
    </div>
</div>
