<section class="suggestions">
    <section class="suggestions_vaguesback">
        <img class="position_vague vague_toutlesfilmshaut" src="/assets/images/Arriere-plan/Vaguounette haut.svg" alt="vague dessin jaune">
        <img class="position_vague vague_toutlesfilmsbas" src="/assets/images/Arriere-plan/vagounette bas.svg" alt="vague dessin jaune">
        <h2 class="suggestions_titre_boite">
            Suggestions
        </h2>
       
        <section class="suggestions_text">
            <p>Si tu as aimé ShangChi, tu aimeras aussi : </p>
        </section>
        <section class="suggestions_buttons">
            {% include button.html text="Programme du mois"%}
            {% include button.html text="Liste des films"%}
        </section>
    
        <section class="slideshow">
            {% include /Homepage/slideshow.html %}
        </section>
    </section>
</section>