
<section class="rectangle">

    <div class="text"> 
       
        <h1>Le Festival,<br>
            Cinéma 100% animation et effets spéciaux 
        </h1>
          <div class="structure-text"> 
            
            <h2>
                Le film du mois 
            </h2>
            <div class="title-movie">
                <h3>Encanto</h3>
                <img src="/assets/images/Petales/Page 1/Petale Encanto.svg" alt="Petale rose et vert "class=> 
            </div>
            <p>Visuellement, <span class="film">Encanto</span> est un délice, rempli de couleurs époustouflantes,
                d'une belle animation, d'une musique vibrante et d'une joie qui apparaît à l'écran. 
                L'histoire est dynamique et avec plein de rebondissements ... </p>
            </div>
            <div class="button-cover">
                <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=284646.html" target="_blank" > Plus de détail sur le film </a> 
            </div>  
        </div>
  
        <img src="/assets/images/Cover/EncantoCover.png" alt="Encanto"class="image-encanto"> 

</section>


