
<div class="titre">
    <h2>Evènements</h2>
    <div class="rectangle_jaune"></div>
</div>

{% include button.html %}

<div class="containers">

    <div class="left_container">
        <div class="left_box">
            <img src="images/festival-cinema.png" alt="photo cinema festival">
            <div class="box_texte">
                <p class="sous_titres">FESTIVAL INTERNATIONAL DU FILM</p>
                <p>Retrouvez la dixième édition du festival internationnal du film indépendant de Bordeaux en projection dans votre cinéma</p>
            </div>
        </div>
        <p class="button">Voir l'évènement</p>
    </div>

    <div class="right_container">
        <div class="right_box">
            <img src="images/festival-cinema.png" alt="photo évènement 2">
            <div class="box_texte">
                <p class="sous_titres">LES NUITS MAGIQUES</p>
                <p class="text">La trentième édition du festival internationnal du film d'animation "les nuits magiques"</p>
            </div>
        </div>
        <p class="button">Voir l'évènement</p>
    </div>



</div>
