<section class="newsletter_section">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-lg-5"> <p class="newsletter_text">Inscrivez-vous à notre newsletter !</p> </div>
            <div class="offset-1 col-lg-4"> <p class="newsletter_button">jean.dupond@gmail.com</p> </div>
        </div>
    </div>
</section>

<section class="fin_footer">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-lg-3">
                <a href="/Accueil"> Accueil </a>
                <a href="/Programmmation"> Programmation </a>
                <a href="/Ateliers-et-evenements"> Ateliers et évenements </a>
                <a href="/Le-cinema"> Le cinéma </a>
            </div>
            <div class="offset-4 col-lg-3">
                <p> Rejoignez-nous sur </p>
                <img class="logo_reseaux" src="images/instagram-logo.png.png" alt="logo instagram">
                <img class="logo_reseaux" src="images/logo-facebook.png" alt="logo facebook">
                <p class="text_contacts1"> 151 Bd Albert 1er - 33130 Bègles</p>
                <div class="numero_tel">
                    <img class="logo_tel" src="images/telephone-logo.png" alt="logo telephone">
                    <p class="text_contacts2"> 09.51.99.04.80 / 05.56.51.76.60</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="email">
                    <img class="logo_arobase" src="/images/logo-arobase.png" alt="logo arobase">
                    <p class="text_contacts3"> contact@cinemalefestival.fr</p>
                </div>

                <div>
                    <img class="copyright_logo" src="images/copyright-logo.png.png" alt="copyright-logo">
                    <p class="text_credits">2021 Cinema "Le festival de Bègles, tout droits réservés - <strong> Mentions légales</strong> </p> 
                    <p class="text_credits">Site réalisé par Galamment Agency</p>
                </div>
            </div>
        </div>
    </div>
</section>