<div class="container newsletter_section">
    <div class="row justify-content-around">
        <div class="col-4" style="background: #ffe7e8; border: 2px solid #e66465;">Inscrivez-vous à notre newsletter !</div>
        <div class="col-5" style="background: #ffe7e8; border: 2px solid #e66465;">jean.dupont@gmail.com</div>
    </div>


    <div class="container fin_footer">

        <div class="row">
            <div class="col menu" style="background: #ffe7e8; border: 2px solid #e66465;">
                <a href="/Accueil"> Accueil </a>
                <a href="/Programmmation"> Programmation </a>
                <a href="/Ateliers-et-evenements"> Ateliers et évenements </a>
                <a href="/Le-cinema"> Le cinéma </a>
            </div>

            <div class="col reseaux_sociaux"style="background: #ffe7e8; border: 2px solid #e66465;">
                <p>Rejoignez nous sur :</p>
                <img class="logo_reseaux" src="/assets/images/icone/instagram.png" alt="logo instagram">
                <img class="logo_reseaux" src="/assets/images/icone/facebook.png" alt="logo facebook">
                <section class="contacts">
                    <p class="text_contacts1"> 151 Bd Albert 1er - 33130 Bègles</p>
                    <div class="numero_tel">
                        <img class="logo_tel" src="/assets/images/icone/phone_in_talk.png" alt="logo telephone">
                        <p class="text_contacts2"> 09.51.99.04.80 / 05.56.51.76.60</p>
                    </div>
                    <div class="email">
                        <img class="logo_arobase" src="/assets/images/icone/logo-arobase.png" alt="logo arobase">
                        <p class="text_contacts3"> contact@cinemalefestival.fr</p>
                    </div>
            </div class="container">
                <div class="row">
                    <div class="col" style="background: #ffe7e8; border: 2px solid #e66465;">
                        <div class="copyright_align">
                            <img class="copyright_logo" src="/assets/images/icone/copyright-logo.png.png" alt="copyright-logo">
                            <p class="text_credits">2021 Cinema "Le festival de Bègles, tout droits réservés - <strong> Mentions légales</strong> </p> 
                        </div>
                        <p class="text_credits">Site réalisé par Galamment Agency</p>
                    
                    </div>

                </div>
            <div>

            </div>
        </div>
    </div>
</div>