<section class="newsletter_section">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-lg-5"> <p class="newsletter_text">Inscrivez-vous à notre newsletter !</p> </div>
            <div class="offset-1 col-lg-4"> <p class="newsletter_button">jean.dupond@gmail.com</p> </div>
        </div>
    </div>
</section>

<section class="fin_footer">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-lg-3 fin_footer_menu">
                <a href="index.html" class="footer_menu_text"> Accueil </a>
                <a href="/Programmmation" class="footer_menu_text"> Programmation </a>
                <a href="/Ateliers-et-evenements" class="footer_menu_text"> Ateliers et évenements </a>
                <a href="/Le-cinema"class="footer_menu_text"> Le cinéma </a>
            </div>

            <div class="offset-lg-4 offset-xs-1 col-lg-3 ">
                <div class="fin_footer_reseaux">
                    <p> Rejoignez-nous sur </p>
                    <a href="https://www.instagram.com/cinemalefestival/" target="_blank" >
                        <img class="logo_reseaux" src="/assets/images/Icone/instagram.png" alt="logo instagram">
                    </a>
                    <a href="https://www.facebook.com/cinemalefestival" target="_blank" >
                    <img class="logo_reseaux" src="/assets/images/Icone/facebook.png" alt="logo facebook">
                    </a>
                    <p> 151 Bd Albert 1er - 33130 Bègles</p>
                    <div class="fin_footer_inline text_contacts">
                        <img class="logo_tel" src="/assets/images/Icone/phone_in_talk.png" alt="logo telephone">
                        <p> 09.51.99.04.80 / 05.56.51.76.60</p>
                    </div>
                    <div class="fin_footer_inline">
                        <img class="logo_arobase" src="/assets/images/Icone/logo-arobase.png" alt="logo arobase">
                        <p class="text_contacts3"> contact@cinemalefestival.fr</p>
                    </div>
                </div>
 
            </div>

            <div class="offset-lg-4 offset-xs-1 col-lg-3">
                

                <div class="fin_footer_inline">
                    <img class="copyright_logo" src="/assets/images/Icone/copyright-logo.png.png" alt="copyright-logo">
                    <p class="text_credits">2021 Cinema "Le festival de Bègles, tout droits réservés - <span class="bold"> Mentions légales</span> </p> 
                </div>
                <!-- <p class="text_credits">Site réalisé par Galamment Agency</p> -->
            </div>
        </div>
    </div>
</section>