<header>
  <div class="header_menu">
    <div class="header_menu_left">
        <img src="/assets/images/Cover/Logo.svg" alt="logo">   
    </div>
    <div class="header_menu_right">
        <div class="nav">
            <label for="toggle"><img src="/assets/images/Icone/menu_telephone.png" alt=""></label>
            <input type="checkbox" id="toggle"/>
            <div class="menu">
                <a href="#">Accueil</a>
                <a href="#">Programmation</a>
                <a href="#">Ateliers et événements</a>
                <a href="#">Le cinéma</a>
            </div>
        </div>
        <img src="/assets/images/Icone/search.png" alt="searchbar" >
    </div>
</div>
</header>






<!-- <header>
  <img class="header_logo" src="/assets/images/Cover/Cinéma Le Festival.png" alt="logo cinéma le festival">
  <nav class="header_navbar">
    <div class="burger_menu">
      <label for="toggle">MENU</label>
      <input type="checkbox" id="toggle"/>
      <ul>
          <li><a href="index.html" class="header_navbar_liens">Accueil</a></li>
          <li><a href="news.asp" class="header_navbar_liens">Programmation</a></li>
          <li><a href="contact.asp" class="header_navbar_liens">Ateliers et évenements</a></li>
          <li><a href="about.asp" class="header_navbar_liens">Le cinéma</a></li>
          <li><img class="searchbar" src="/assets/images/Icone/search.png" alt="searchbar"> </img></li>
        </ul>
      </nav>
    </div>
</header> -->