<header>
  <div class="header_menu">
    <div class="header_menu_left">
        <img src="/assets/images/Cover/Logo.svg" alt="logo">   
    </div>
    <div class="header_menu_right">
        <div class="nav">
            <label for="toggle"><img src="/assets/images/Icone/menu_telephone.png" alt=""></label>
            <input type="checkbox" id="toggle"/>
            <div class="menu">
                <a href="#">Accueil</a>
                <a href="#">Programmation</a>
                <a href="#">Ateliers et événements</a>
                <a href="#">Le cinéma</a>
            </div>
        </div>
        <img src="/assets/images/Icone/search.png" alt="searchbar">
    </div>
</div>
</header>