<header>
    <img class="header_logo" src="/assets/images/Cover/Cinéma Le Festival.png" alt="logo cinéma le festival">
    <nav class="header_navbar">
        <ul>
            <li><a href="index.html" class="header_navbar_liens">Accueil</a></li>
            <li><a href="news.asp" class="header_navbar_liens">Programmation</a></li>
            <li><a href="contact.asp" class="header_navbar_liens">Ateliers et évenements</a></li>
            <li><a href="about.asp" class="header_navbar_liens">Le cinéma</a></li>
            <li><img class="searchbar" src="/assets/images/Icone/search.png" alt="searchbar"> </img></li>
          </ul>
        </nav>
</header>