<section class="bloc">
        <section class="titre-petit-carré">
            <h2 class="index"> Passionné d'animation ?</h2>
            <div class="petit-carré"></div>
        </section>
        <div class="texte-et-bouton">
            <p class="padding">Consacré aux <i>films d’animation</i>, ainsi qu’aux effets spéciaux, le cinéma Le Festival offre une expérience interactive et innovante. <br>
            Nous te proposons différents films et ateliers dédiés à l’enfance mais pas que...<br>
            Viens découvrir nos différents <i>films</i> à <b>partir de 5€</b> ou encore participer à nos soirées à thèmes.
            </p>
            <div class="button">En savoir plus sur notre cinéma</div>
        </div>
    </section>
    <section class="box-titre">
        <h3 class="covid">COVID</h3>
        <img class="gribouilli" src="assets/images/Arriere-plan/nuagecovid.svg">
        <p class="carré-covid">À compter du <b><i>30 septembre</i></b>,  le pass sanitaire devient obligatoire pour les plus de <b><i>12 ans et 2 mois.</b></i>
            Le pass sanitaire consiste à présenter, <b><i>en version numérique</i></b> (via l’application TousAntiCovid) ou papier, une <b>preuve sanitaire.</b></p>
</section>
