<section class="infosPratiques">

    <div class="titre_infosPratiques">

      <h2 class="h2_infosPratiques">Infos Pratiques</h2>

      <div class="rectangle_jaune"></div>

      </div> 

   

  <div class="bloc_infosPratiques">
    <p class="p_infosPratiques"> Notre cinéma est ouvert du mercredi au dimanche de 10h à 21h.</p>

    <p class="p_infosPratiques">
    Retrouve nous au 151 Bd Albert 1er à Bègles.<br/>
    À partir du centre, prendre le tram C jusqu’à <br/>
    Terre Neuves puis marcher 15 min le long <br/>
    Bd du Bosc.  <a href="/_pages/ficheShangChi.html">Autre page</a> </p>
    <div class="tarifs">
      <p class="titre_tarifs">
        COMBIEN ÇA COÛTE ?
      </p>
      <div class="bloc_tarifs">
      <div class="separation_texte">
          <p class="p_tarifs">
        TARIF ENFANT
          </p>
          
          <p class="p_tarifs">
        TARIF JEUNE
          </p>
          
          <p class="p_tarifs">
        TARIF ADULTE
          </p>
        </div>
        <div class="separation_prix">
          <img src="/assets/images/Arriere-plan/prixEnfant.svg" alt="Prix Enfant 5€" class="prix">
          <img src="/assets/images/Arriere-plan/prixJeunes.svg" alt="Prix Jeune 6€" class="prix">
          <img src="/assets/images/Arriere-plan/prixPlein.svg" alt="Prix Plein 7,5€" class="prix">
        </div>
    
      </div>
    </div>

  </div>

 
</section>
