
    <div class="barre_de_header">
        <img class="petale" src="/assets/images/Cover/petale-mobile-header.png" alt="logo petale du cinema">
        <div class="recherche_et_menu">
            <img src="/assets/images/Cover/recherche-menu-mobile.png" alt="outil de recherhe et menu">
        </div>
    </div>
    <img src="/assets/images/Cover/cover telephone 1.png" alt="image-encanto">
    <div class="text_header_mobile">
        <h2> Le film du mois </h2>
        <h3 class="encanto"> Encanto </h3>
        <p> Visuellement, Encanto est un délice, rempli de <br>
             époustouflantes, d'une belle animation, <br>
              d'une musique vibrante et d'une joie qui <br> 
              apparaît à l'écran. L'histoire est dynamique et <br> avec pleins de rebondissement ..
             </p>
    </div>
   




