<div class="logo_et_rectangle">
    <div class="avis_rectangle_jaune">
        <h2 class="sub-bg"> Avis du directeur  </h2>
        <div class="logo_petale">
            <img src="" alt="logo petale">
        </div>
    </div>

 
</div>

<div class="avis_du_directeur"> 
    
            <p>  Ce film est excellent, il nous montre des visuels incroyables et l'histoire est <br>
                originale. Le film change pas mal de ce que l'on peut voir des recettes Marvel <br>
                classiques, mais c'est que du positif. Je vous recommande vivement ce film qui peut <br> 
                être assez surprenant ! Ca fait longtemps que j'avais pas vu d'aussi belles images au <br>
                cinéma d'ailleurs !
            </p>    
</div>