<section class= "shang-chi">
    <h1 class= "h1-page1">Fiche du film</h1>
    <img src = "/assets/images/Affiche/ShangShi.jpg">
    <h2 class= "titre-film"> Shang-Chi</h2>
    <div class= "description-film">
        <p><b>SORTIE LE : </b> 1er septembre 2021</p>
        <p><b>DUREE: </b>1h37</p>
        <p><b>REALISE PAR : </b>Destin Daniel Cretton</p>
        <p><b>AVEC : </b>Simu Liu, Tony Leung Chiu-Wai, Awkwafina</p>
        <p><b>GENRE : </b>Action - Fantastique</p>
     </div>

</section>
   
