button {
  font-weight:600;
    font-size:28px;
    font-family: Open sans;
    color:white;
    background-color:#D47C70;  
    display:table;
    padding:17px;
    border:0px;
    border-radius:30px;
    transition-duration: 0.2s;
    @media screen and (max-width:768px) {
      font-size:20px;
      
    }
  }
  
  button:hover {
    transform: scale(1.10);
  }