body {
    margin: 0;
    padding: 0;
}


.h2_cover {
    font-family: 'Roboto' ;
    font-size: 39px;
    font-style: Bold;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #1A353D;
    margin-bottom: 0px;
}


.h3_cover {
    font-family: 'Roboto' ;
    font-size: 90px;
    height: 90px;
    /* line-height: 23px; */
    /* letter-spacing: -0.03em;
    margin-top: 30px;
    margin-bottom: 0px; */
    color: #1A353D;
    margin: 0px;
}

p {
    font-family: 'Open Sans' ;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #1A353D;
    margin: 0;

}

a{
    font-family: 'Open Sans' ;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #1A353D;
    margin: 0;
}

.film {
    text-decoration: underline;
    font-weight:bolder;
}

.rectangle{
display: flex;
flex-direction: row;
max-width: 1340px;
height: 601px;
margin: auto;
background: #F6D8D4;

}

.text{
    width: 50%;
    padding: 49px 85px 0px 108px; 
}

.structure-text{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.image-encanto {
    width: 50%;
    object-fit: cover;
    height: 100%;
    object-position: left;
}

.petale-cover{
    left: 40%;
    bottom: 5%;
    min-width:  50px;
    transform: rotate(-30deg);

}

.title-movie{
    display: flex;
    margin: 0px;
    margin-bottom: 8px;
    height: 90px;
}

.button-cover {
    justify-self: center;
    margin-top: 30px;
    background: #E38578;
    display: table;
    padding: 18px;
    border-radius: 60px;
    width: auto;
    transition: font-size ;
    transition-duration: 4s;
    margin: auto;
    margin-top: 50px;
}

.button-cover a
{
    text-align: center;
    
}

.button-cover a:hover
{
    font-size: 22px;
}

