


.evenements_left_box, .evenements_right_box {

    border-radius:30px; 
    background-color: #1A353D;
    height:100%;
}

.evenements_containers {
    overflow: hidden;
    display:flex;
    justify-content: space-around;
    img {
        width:100%;
    }
}



.evenements_left_container, .evenements_right_container {
    position:relative;
}

.evenements_sous_titres {
    margin:0;
    color:#F5E5A3;
    font-family: Roboto;
    font-size:28px;
    
}


.evenements_box_texte {

    padding: 10% 20px;
    font-family:Open sans;
    font-size:20px;
    font-weight: bold;
    color:white;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
    p {
        color:#FFFFFF;
    }


}






.evenements_buttons{

    position:absolute;
    display: table;
    right:0%;
    bottom:-10%;


}





