

.titre {
    position: relative; 
    display:table;
    padding-left:200px;
    margin-bottom: 100px;
}

.rectangle_jaune {
    width:400px;
    position:absolute;
    padding:25px;
    background-color: #F5E5A3;
    left:-0;
    bottom:0px;
}



.evenements_left_box, .evenements_right_box {
    border-radius:30px; 
    overflow:hidden; 
    background-color: #1A353D;
    height:100%;
}

.evenements_containers {

    display:flex;
    justify-content: space-around;
}



.evenements_left_container, .evenements_right_container {
    position:relative;
}

.evenements_sous_titres {
    margin:0;
    color:#F5E5A3;
    font-family: Roboto;
    font-size:28px;
    
}


.evenements_box_texte {

    padding: 0px 20px;
    font-family:Open sans;
    font-size:20px;
    font-weight: bold;
    color:white;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
    p {
        color:#FFFFFF;
    }


}






.evenements_buttons{

    position:absolute;
    display: table;
    right:0%;
    bottom:-10%;


}

