.newsletter_section {
    background-color: rgba(227, 133, 120, 0.15);
    padding:20px;


    .newsletter_text {
        font-family: $typo-paragraphe;
        font: weight 900px;;
        line-height: 42px;
        font-size: 34px;
    }

    .newsletter_button{
        opacity:70%;
        padding:10px;
        font-family: $typo-paragraphe;
        border: 1px solid rgba(0,0,0,0.44);
        border-radius: 20px;
    }
}



.fin_footer {
    padding:4%;
    background-color:rgba(227, 133, 120, 0.30);

    .fin_footer_menu {
        display:flex;
        flex-direction:column;

        .footer_menu_text {
            padding: 3% 0%;
            font-size: 25px;
            margin: 4px;
        }
    
    }

}


.logo_reseaux {
    margin:10% 0%;
    margin-right: 10px;
    @media screen and (max-width:768px) {
        margin: 0%;
        
      }
}

.copyright_logo, .logo_arobase {
    width:30px;
    max-height: 15px;  
    margin-right: 3%; 
    @media screen and (max-width:768px) {
        margin: 0%;
        
      }
}


.fin_footer_inline {
    display: flex;
    align-items: center;
}



.text_contacts {
    margin: 10% 0%;
    @media screen and (max-width:768px) {
        margin: 0%;
        
      }
}

.logo_tel {
    margin-right: 4%;
    @media screen and (max-width:768px) {
        margin: 0%;
        
      }
}

.logo_arobase {
    width: 6%;
    height: auto;
}

.bold{
 font-weight: bold;
}

