
.newsletter_text {
    font-family: Roboto;
    font: weight 900px;;
    line-height: 42px;
    font-size: 36px;
}

.newsletter_section {
    background-color: rgba(227, 133, 120, 0.15);
    padding:20px;
}
.newsletter_button{
    opacity:70%;
    padding:10px;
    font-family: Roboto;
    border: 1px solid rgba(0,0,0,0.44);
    border-radius: 20px;
}

.fin_footer {
    background-color:rgba(227, 133, 120, 0.30);
}