
.bloc{
    background-color: rgba(227, 133, 120, 0.5);
    width: 100%;
    padding-top: 5%;
}

.index{
    z-index: 1 ;
}


.texte-et-bouton{
    display:flex;
    justify-content:flex-end;
    flex-direction: column;
    padding: 5% 45% 5% 15%;

}
.button{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    color: white;
    background-color: #D47C70;
    border-radius: 60px;
    width: fit-content;
    padding: 2%;
    margin-top: 15%;
    transition: 1s;
}
.button:hover{
    transform:scale(1)
}

.petit-carré{
    background-color: white;
    width: 523px;
    height: 62px;
    margin-top: -3%;
    margin-left: 48.4%
}

.titre-petit-carré{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.carré-covid{
    background-color: $dark-blue;
    color:white;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    border-radius: 32px;
    padding: 8%;
    width:434px;
    margin-top: -7%;
}

.box-titre{
    margin-left: 60%;
    z-index: 1;
    margin-top: -15%;
}

.covid{
    color: $dark-blue;
    transform: rotate(-12.57deg);
    margin-bottom: 11%;
    margin-left: -5%;
}

.gribouilli{
    margin-top: -60%;
    margin-left: -5%;
}