



.avis_du_directeur{

    text-align: auto;
    padding-top: 3%;
    font-size: 23px;
    color: #1A353D;
    margin-left: 15%;

}

.logo_et_rectangle{

    max-width: 1000px;
    margin: auto;
    border-top: 0;
    border-bottom: 0;
}




 

  .sub-bg {
    position: relative;
    display: table;
    &:after {
      content: "";
      display: block;
      background: $jaune;
      position: absolute;
      bottom: -10px;
      height: 50px;
      width: calc( 50vw - 500px);
      left: 0;
      transform: translateX(-100%);
      z-index: -1;
    }
    &::before {
      content: "";
      display: block;
      background: $jaune;
      position: absolute;
      bottom: -10px;
      height: 50px;
      width: 50%;
      left: 0;
      z-index: -1;
    }
  }
  
  
  
  
  
.avis_rectangle_jaune {
    display: flex;
    justify-content: space-between;
}