body {
    color: black;
    font-family: serif;
}

h1 {
    font-family: $typo-titre;
    font-size: 20px;
    font-weight:lighter;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: $dark-blue;
}

h2{
    font-family: $typo-titre;
    font-size: 77px;
    font-weight: bold;
    color: $dark-blue;
    @media screen and (max-width:768px) {
        font-size:42px;  
    }
}

h3{
    font-family: $typo-titre;
    font-size: 50px;
    font-weight:bold;
    color: $dark-blue;
}

p{
    font-family:'Open Sans';
    font-size: 29px;
    color: $dark-blue ;
}