body {
    color: black;
    font-family: serif;
}
h1{
    font-family: Roboto;
    font-size: 20px;
    color: #1A353D
}

h2{
    font-family: Roboto;
    font-size: 77px;
    font-weight: bold;
    color: #1A353D
}

h3{
    font-family: roboto;
    font-size: 50px;
    font-weight:bold;
    color: #1A353D
}

p{
    font-family:'Open Sans';
    font-size: 29px;
    color: #1A353D;
}